* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    margin: 0 auto;
}
header {
    background-color: #2d3945;
    color: white;
    font-size: small;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
input:focus, textarea:focus, select:focus{
    outline: 3px solid;
}
#signup-info {
    margin: 25px 10px 25px 10px;
    text-align: center;
    justify-content: space-between;
    padding: 0.5em;
}
.bold-text {
    font-weight: bolder;
    
}
.bold {
    width: 90%;
    margin-bottom: 5px;
   border: solid;
   margin: 10px auto;

}
.thin {
    width: 90%;
    margin-bottom: 20px;
    border: double;
    margin: 10px auto;
}
fieldset {
    border: 0;
}
legend {
    font-weight: bolder;
    margin-left: 0;
}
form {
margin: 15px auto;
width: 90%;
}
.contact {
    display: block;
    width: 100%;
    background-color: rgb(237, 233, 233);
    padding: 13px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
#zipcode {
    width: 50%;
}

:placeholder-shown{
    text-align: right;
}

legend {
    padding: 10px;
    font-size: large;
}

.news, .spacing {
    padding: 10px 10px 10px 10px;
    margin: 10px;
}
.comments {
    display: block;
    width: 100%;
    background-color: rgb(237, 233, 233);
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
} 
button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4ebbb5;
    color: white;
    font-size: large;
    margin-top: 20px ;
}
footer{
    text-align: center;
    padding: 20px;
    color: rgb(167, 166, 166);
    font-style: italic;
}

/* Media Querie */
@media screen and (min-width: 768px) {
    div {
        display: flex;  
        }
        .contact {
        width: 100%;   
        }
        label {
            margin-left: 0;
            width: 250px;
        }
        .form-control{
            width: 100%;
        }
        #zipcode {
            width: 25%;
    }
}